@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body { overflow-x: hidden; /* Hide scrollbars */ 
               
    font-family: 'Hubballi', cursive !important;
}


*{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Consolas',sans-serif; */
}
.admin-menu{
    background-color: yellow;
    width: fit-content;
    position: absolute;
}
.main-content{
    min-height: 81vh;
    background-color: #000;
    
}

.main-content-posts{
    display: flex;
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;
    text-align: center;
}


/*////////////FORMS css///////////////////////////////////////////////////////////////**/
.form-login{
    background-image: url('https://cdn.pixabay.com/photo/2019/09/21/12/15/matrix-4493783_960_720.jpg');
    padding: 50px 0;
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;  
    
}

.form-login input{
    margin: 20px;
}
.form-login form{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 20px;
}
.form-login a{
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
}


.form-reg{
    background-image: url('https://cdn.pixabay.com/photo/2019/09/21/12/15/matrix-4493783_960_720.jpg');
    text-align: center;
    min-height: 83vh;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
}

/*////////////POST css///////////////////////////////////////////////////////////////**/
.post-text{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 5px;
    width: 600px;
}
.post-img{
    /* background-color: rgba(0,0,0,0.8); */
    /* padding: 20px; */
    border-radius: 5px;
    text-align: center;
    /* position: absolute; */
    /* margin-top: 10px; */
    /* left: 5%; */
}
.post-img img{
    min-height: 500px;
    min-width: 500px;
}

.all-posts{
    padding: 50px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;
}
.img-post-show{
    border-radius: 20px;
}
.post-show{
    background: conic-gradient(
		from 45deg,
		#05386B 0,
		#379683 90deg,
		#5cdb95 90deg,
		#8ee4af 180deg,
		#000 180deg,
		#000 270deg,
		#000 270deg,
		#000 360deg
	);
	background-size: 1em 1em;
	height: 100vh;


    padding: 50px;
}
.post-show-label{
    background-color: #000;
    padding: 20px;
}

/*////////////PROFILE css///////////////////////////////////////////////////////////////**/
.profile-img-posts{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50% !important;
}

.my-reg{
    padding: 10px;
    text-align: left;
  
}


.all-posts img{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 20px;
    border-radius: 30%;
}
.card-img-top{
    min-width: 100px;
    min-height: 100px;
    max-width: auto;
    max-height: 350px;
}
.card-body{
    text-align: left ;
}

.image-input{
    max-width: 400px;
    max-height: 600px;
}




.left-side-card-profile{
    
    position: absolute;
    left: 5%;
    width: 30%;
    display : inline-flex;
   
}
.left-side-card-profile img{
    border-radius: 20px;
}

.right-side-card-profile{
    background-color:  green;
    border-radius: 15px;
    position: absolute;
    left: 40%;
    display : inline-flex;
    width: 40%;
    
}

/*////////////OTHERS css///////////////////////////////////////////////////////////////**/
.my-nav{
    right: 5%;
    position: absolute;
    top: 2%;
    
}
.my-links-nav{
    font-family: 'Consolas',sans-serif;
    color:greenyellow;
    background-color: #000;
    padding: 10px;
    margin: 20px 5px;
    border-radius: 5px;
}
.my-links-nav:hover{
    background-color: #fff;
    color: #000;
}
.my-top-nav{
    min-height: 55px;
    padding: 15px;
    background-color: darkgreen;
}

.search-div{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.search-res-div{
    background-color: #000;
    min-height: 400px;
    min-width: 400px;
    text-align: left;
    padding: 10px;
}
.search-res-div li{
    list-style: none;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}
.search-img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}
.search-img-post{
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px;
}

input{
    color: rgb(1, 12, 2);
    font-family: 'Consolas',sans-serif;
    font-size: 1.2rem;
}
.dropdown:hover .dropdown-menu {
display: block;}

/*////////////BUTTONS css///////////////////////////////////////////////////////////////**/
.btn-hero {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.btn-hero-welcome {
    background-color: darkgreen;
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn-hero:hover{
    background-color: #000;
    color: #fff;
}
.btn-hero-welcome:hover{
    background-color: greenyellow;
    color: #000;
}

.btn-hero-bt{
    text-decoration: none;
    background-color: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
}
.btn-hero-bt:hover{
    background-color: #000;
    color: #fff;
}

.btn-hero-bt2{
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 4px;
    margin: 10px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    width: 100px;
}

.btn-share{
    background-color: #dc3545;
    padding: 20px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 900;   
}

.btn-share:hover{
    background-color: #000;
    color: #fff;
}
.btn-hero-bt2:hover{
    background-color: #000;
    color: #fff;
}

.welcome-title{
    background-color: green;
    padding: 20px; 
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;
    border-radius: 50px;

}

.label-tags{
    background-color: black;
    padding: 5px;
    text-align: left ;
    border-radius: 5px;
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
    font-weight: 600;
}



.edit-btn{
    position: absolute;
    left: 15%;
    top: 15%;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Consolas',sans-serif;
    font-size: 1.5rem;
    background-color: yellowgreen !important;
    color: #000 !important;
}
.edit-btn:hover{
    transform: scale(1.1);
    background-color: white !important;
   
}



.message-box{
    background-color: darkblue;
    width: fit-content;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    padding: 10px;
    border-radius: 5px;
}
.message-box-2{
    background-color: darkred;
   
    width: 400px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    padding: 10px;
    border-radius: 5px;
}


/*///////////////////////////////HIDE ME //////////////////////////////////////*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/*///////////////////////////////FOOTER  //////////////////////////////////////*/

footer{
    padding: 0.5rem;
    text-align: center;
    color:#fff;
    /* position: relative; */
    /* position: absolute; */
    /* bottom: 0rem;  */
    /* left: 50%;  */
    /* transform: translateX(-50%); */
    clear: both;
    /* position: relative; */
    /* height: 200px; */
    /* margin-top: -200px; */
    max-height: 85px;

}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    /* transform:  scale(1.1);  */
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}



/*///////////////MEDIA QUERYS////////////////////////////////////////////////////////////////////*/
@media(max-width: 480px)        /*para ecras mais pequenos*/

{

   
 
    .left-side-card-profile{
        
        position: relative;
        left: auto;
        width: auto;
        margin-top: 35%;

    }
    .left-side-card-profile img{
        border-radius: 20px;
    }

    .right-side-card-profile{
        background-color:  green;
        border-radius: 15px;
        width: 90%;    
        position: relative;
        margin-left: -70%;
        
    }
    .edit-btn{
        position: absolute;
        left: 15%;
        top: 15%;
    }
    .card-body{
        text-align: center ;
    }


    .my-top-nav{
        min-height: 100px;
        padding: 15px;
    }

    .my-nav{
      
        display: flex; 
        flex-direction: column; /*coloca tudo em coluna*/
        align-items: center;    /*alinha horizontalmente*/
        justify-content: center;     
    }

    .admin-menu{
      display: block;
    }

    .welcome-title{
      margin-top: 80px;   
    }
    .post-text{
        background-color: #000;
        padding: 20px;
        border-radius: 5px;
        width: 400px;
    }
    .post-img{
        background-color: grey;   
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
      
    }
    .all-posts img{
        width: 290px;
        height: 300px;
        padding: 0px;
        margin: 0px;
        border-radius: 30%;
    }
    .search-div{
        position: absolute;
        left: 35%;
    }
  
}
@media (max-width : 600px)
{
    .search-div{
        position: absolute;
        left: 35%;
    }
    .left-side-card-profile{
        
        position: relative;
        left: auto;
        width: auto;
        margin-top: 35%;

    }
    .left-side-card-profile img{
        border-radius: 20px;
    }

    .right-side-card-profile{
        background-color:  green;
        border-radius: 15px;
        width: 90%;    
        position: relative;
        margin-left: -70%;
        
    }
    .edit-btn{
        position: absolute;
        left: 15%;
        top: 15%;
    }
    .card-body{
        text-align: center ;
    }


    .my-top-nav{
        min-height: 100px;
        padding: 15px;
    }

    .my-nav{
      
        display: flex; 
        flex-direction: column; /*coloca tudo em coluna*/
        align-items: center;    /*alinha horizontalmente*/
        justify-content: center;     
    }

    .admin-menu{
      position: relative;
      

    }

    .welcome-title{
      margin-top: 80px;   
    }
    .post-text{
        background-color: #000;
        padding: 20px;
        border-radius: 5px;
        width: 400px;
    }
    .post-img{
        background-color: grey;   
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
      
    }
    .all-posts img{
        width: 290px;
        height: 300px;
        padding: 0px;
        margin: 0px;
        border-radius: 30%;
    }
}