@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";




/* 
*{
    font-family: 'Consolas', sans-serif;
} */

.background-image2{
    background-image: url('/public/images/bg_matrix.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
    height: 600px;

}

